* {
  margin: 0;
  padding: 0;

}

html {
  height: 99%;
  border: 2px solid rgb(68,68,68);
  overflow: hidden;
  border-radius: 10px;
}
body {
  min-height: 100%;
  /*border: 1px solid #000;*/
}

:root {
  --line-color1: rgba(255, 255, 255, 1);
  --line-color2: #1ae721;
  --font-color: #313030;
}

.measure-angle {
  box-sizing: content-box;
  z-index: 99999;
  position: fixed;
  border: 46px solid rgba(222, 220, 220, 0.7);
  /*box-shadow: 46px 46px rgba(255, 255, 255, 0.5);*/
  border-radius: 50%;
  width: 208px;
  height: 208px;
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
  font-size: 10px;
  /*display: none;*/
}

::selection {
  background: none;
}

.inner_circle {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.line_wrap {
  position: absolute;
  top: -46px;
  left: -46px;
}

.line_wrap .container {
  position: relative;
}

.measure-angle li {
  list-style: none;
  width: 0px;
  height: 3px;
  border-left: 1px solid var(--font-color);
  position: absolute;
  left: 149px;
  top: 0;
  transform-origin: center 150px;
  display: flex;
  justify-content: center;
}

.measure-angle li:nth-of-type(5n) {
  height: 8px;
}

.measure-angle li:nth-of-type(10n) {
  padding-top: 12px;
  height: 1px;
  font-size: 10px;
}

.measure-angle li:nth-of-type(10n) em {
  font-style: inherit;
  display: inline-block;
  /*transform: scale(.9);*/
  color: var(--font-color);
}

.line_0 {
  position: absolute;
  height: 60px;
  border-left: 1px solid var(--line-color1);
  width: 0px;
  left: 149px;
  top: 0px;
  transform-origin: center 150px;
  transform: rotate(90deg);
}


.line_180 {
  position: absolute;
  height: 60px;
  border-left: 1px solid var(--line-color1);
  width: 0px;
  left: 149px;
  top: 0px;
  transform-origin: center 150px;
  transform: rotate(270deg);
}



.line_90 {
  position: absolute;
  height: 35px;
  border-left: 1px solid var(--line-color2);
  width: 0px;
  left: 149px;
  top: 0px;
  transform-origin: center 150px;
  transform: rotate(0deg);
  justify-content: start;
  text-indent: 3px;
  color: var(--line-color2);
  padding-top: 25px;
}


.line_90:hover {
  cursor: move;
  height: 60px;
}

.line_270 {
  position: absolute;
  height: 35px;
  border-left: 1px solid var(--line-color2);
  width: 0px;
  left: 149px;
  top: 0px;
  transform-origin: center 150px;
  transform: rotate(180deg);
  display: flex;
  justify-content: start;
  text-indent: 3px;
  color: var(--line-color2);
  padding-top: 25px;
}

.line_270:hover {
  cursor: move;
  height: 60px;
}

.line_270::after, .line_90::after {
  content: '';
  /*border-left: 5px solid var(--line-color2);*/
  background: var(--line-color2);
  border-radius: 3px;
  width: 5px;
  height: 38px;
  position: absolute;
  top: 22px;
  left: -3px;
}

.line_0::after, .line_180::after {
  content: '';
  /*border-left: 5px solid var(--line-color1);*/
  background: var(--line-color1);
  border-radius: 3px;
  width: 5px;
  height: 38px;
  position: absolute;
  top: 22px;
  left: -3px;
}
.title-bar {
  -webkit-app-region: drag;width: 100%; height: 30px;background: rgb(68,68,68);cursor:move;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

#btn_close, #btn_min {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: none;
  border-radius: 50%;
  background: #f75e2a;
  color: rgba(28, 27, 27, 0.71);
  font-size: 13px;
  line-height: 10px;
  text-align: center;
  font-family: "math";
  margin-right: 8px;
  font-weight: bold;
  text-decoration: none;
}

#btn_close:active, #btn_min:active {
  background: #e6e3e2;
}

#btn_min {
  background: #edc10c;
}
